{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'userauths/css/login.css' %}">
</head>


<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

          <!-- Display messages -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

          <!-- Tabs Titles -->
          <a class="active" href="{% url 'userauths:login' %}"> Sign In </a>
          <a class="inactive underlineHover" href="{% url 'userauths:register' %}">Sign Up</a>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <i class="fa-solid fa-user" id="icon" alt="User Icon"></i>
          </div>
      
          <!-- Login Form -->
          <form method="POST">
            {% csrf_token %}
            <input type="email" id="email" class="fadeIn second" name="email" placeholder="gmail">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
      
        </div>
    </div>
</body>