<footer>
    <div class="footer-col">
        <h4>Resource.uz</h4>
        <ul>
            <li><a href="/biz_haqimizda">Biz haqimizda</a></li>
            <li><a href="/jamoa">Jamoamiz</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Loyihalarimiz</h4>
        <ul>
            <li><a href="https://youtube.com">Videolar</a></li>
            <li><a href="https://youtube.com">Podkast</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Ijtimoiy tarmoqlar</h4>
        <div class="links">
            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>
